table#body-parts {
	width: 100%!important;
	border: 1px solid #ece4e4!important;
}

form#editForm, form#actionsForm {
	display: inline-block;
}
form#editForm input[type="submit"], input[id*=fieldValue]{
	display: none;
}

table#body-parts td, table#body-parts th {
	padding: 10px!important;
	border: 1px solid #e0e0e0!important;
}
table#body-parts, td,th {
	border-collapse: collapse!important;
}

table#body-parts th {
	text-align: left!important;
}
input[name="sport_occ"] {
	max-width: 500px!important;
	width: 208px;
	padding: 8px 10px;
}
input[type="button"], input[type="submit"] {
	border: 0;
	background-color: #00b1b3;
	color: #fff;
	padding: 9px 22px;
}
input[id*=fieldValue] {
	padding: 5px 10px;
	font-size: 16px;
	margin-top: 10px;
}

input[id*=fieldValue]:focus,input:focus,select:focus {
	border-color: #00b1b3 !important;
}
select.form-control{
	max-width: 500px!important; 
	padding: 8px 10px;
	width: 208px;
	margin: -3px 6px 0;
	height: 38px;
}
input[name="body_part"] {
	max-width: 500px!important;
	padding: 8px 10px;
	width: 208px;
}
input[name="injury"] {
	max-width: 500px!important;
	width: 208px;
	padding: 8px 10px;
}

.hidden {
	display: none;
}

.customizehidden{
	display: none;
}